* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url("/ASSETS/IMAGES/ambitious-studio-rick-barrett-1RNQ11ZODJM-unsplash.jpg")
              no-repeat center center fixed;
  background-size: cover;
  color:white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
   background-color: rgba(0, 0, 0, 0.75);  
  padding: 50px;
  border-radius: 12px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 24px;
  font-weight: bold;
  color: #ff6b00;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group input,
    .form-group select {
      width: 100%;
      padding: 10px 12px;
      border: none;
      border-radius: 8px;
      background: white;
      color: black;
      font-size: 1rem;
      
    }
    
    
.form-group input::placeholder {
      color: #aaa;
   
    }

.submit-btn {
      width: 100%;
      padding: 12px;
      background-color: #ff6b00;
      border: none;
      color: white;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
      transition: background 0.3s;
      margin-top: 10px;
    }

.submit-btn:hover {
      background-color: #e85e00;
    }

.login-link {
      margin-top: 15px;
      text-align: center;
      font-size: 0.9rem;
    }

.login-link a {
      color: #ff6b00;
      text-decoration: none;
    }



